* {
  box-sizing: border-box;
}
body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(28, 175, 175);;
  color: white;
}

.text-center
{
  text-align: center;
}

.container
{
  width: 60%;
  margin: 10% auto;
}

.listitems
{
  background-color: white;
  color: rgb(159, 175, 179);
}

.listitems span
{
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 0.3px solid #ccc;
}


.listitems p
{
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.listitems span.title
{
  background-color: cyan;
  color: white;
}

.listitems span.name,
form input[type =text]
{
  width: 60%;
}

.listitems span.age,
form input[type =number]
{
  width: 30%;
}

.listitems span.action,
form input[type =submit]
{
  width: 10%;
}
.listitems span.icon{
  cursor: pointer;
  color: red;
}
form input
{
  padding: 10px;
  background-color: #ebebeb;
  border: transparent;
  border: .3px solid #ccc;
}

form input[type=submit]
{
  color: white;
  cursor: pointer;
  background-color:cyan;
  border: transparent;
  border: .3px solid cyan;
}